<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>My App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'components/header.html' %}

    <main>
        <h1>Welcome!</h1>
        <p>This is the main content.</p>
        <ul class="morph-nav-list">
            <!-- ログインしてたら -->
            <li class="morph-nav-item">
                <a href="/dashboard">トレーニング一覧</a>
            </li>
            
            <!-- ログインしてなかったら -->
            <!-- <li class="morph-nav-item disabled">
                <a href="/login">ログイン</a>
            </li>
            <li class="morph-nav-item disabled">
                <a href="/register">新規登録</a>
            </li> -->
        </ul>
    </main>

    {% include 'components/footer.html' %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>